<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel='stylesheet' href='/css/styles.css')
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet")
    title Document
  body
    div(id="body-container")
      header
        h1 Countries of the World
      div(id="map-container")
        img(id="map" src="./images/map.svg")
        div(class="continent-select" id="NA-select")
          a(href="/region/north_america") North America
        div(class="continent-select" id="CA-select")
          a(href="/region/central_america") Central America
        div(class="continent-select" id="CR-select")
          a(href="/region/caribbean") Caribbean
        div(class="continent-select" id="SA-select")
          a(href="/region/south_america") South America
        div(class="continent-select" id="EU-select")
          a(href="/region/europe") Europe
        div(class="continent-select" id="ME-select")
          a(href="/region/middle_east") Middle East
        div(class="continent-select" id="AS-select")
          a(href="/region/asia") Asia
        div(class="continent-select" id="AF-select")
          a(href="/region/africa") Africa
        div(class="continent-select" id="OC-select")
          a(href="/region/oceania") Oceania
        div(class="all-countries")
          p View all countries from all regions 
            a(href="/countries") here
      div(id="info-container")
          h2(class="doc-heading") API Documentation
          article(class="documentation1")
            section(class="doc-section1")
              p(class="sub-heading") Method
              p(class="get") GET
              p(class="sub-heading") Route
              p http://localhost:1400/api/countries
              p(class="sub-heading") Description
              p Returns a list of all countries from all regions
            aside(class="doc-aside1")
              p(class="sub-heading response-heading") Response
              p [
              p {
              p id: 3,
              p name: "Mexico",
              p capital: "Mexico City",
              p city: "Mexico City",
              p area: "761,606",
              p population: "127.6M",
              p gdp: "1.27T",
              p topExport: "Automobiles",
              p currency: "Mexican Peso",
              p leader: "Andrés Manuel López Obrador",
              p flag: "mx-flag.gif"
              p "CreatedAt": "2021-05-00T00:00:00.0000"
              p "UpdatedAt": "2021-05-00T00:00:00.0000"
              p regions: [
              p {
              p id: 1,
              p region: "North America",
              p createdAt: "2021-05-00T00:00:00.0000"
              p updatedAt: "2021-05-00T00:00:00.0000"
              p regionsCountries: {
              p regionId: 1,
              p countryId: 3,
              p createdAt: "2021-05-00T00:00:00.0000"
              p updatedAt: "2021-05-00T00:00:00.0000"
              p }
              p }
              p ]
              p },
              p {
              p id: 27,
              p name: "Chile",
              p capital: "Santiago",
              p city: "Santiago",
              p area: "291,933",
              p population: "18.95M",
              p gdp: "282.3B",
              p topExport: "Copper ore",
              p currency: "Chilean peso",
              p leader: "Sebastián Piñera",
              p language: "Spanish",
              p flag: "ci-flag.gif",
              p createdAt: "2021-06-22T19:37:06.000Z",
              p updatedAt: "2021-06-22T19:37:06.000Z",
              p regions: [
              p {
              p id: 4,
              p region: "South America",
              p createdAt: "2021-06-22T19:37:06.000Z",
              p updatedAt: "2021-06-22T19:37:06.000Z",
              p regionsCountries: {
              p regionId: 4,
              p countryId: 27,
              p createdAt: "2021-06-22T19:37:06.000Z",
              p updatedAt: "2021-06-22T19:37:06.000Z"
              p }
              p }
              p ]
              p },
          article(class="documentation1")
            section(class="doc-section1")
              p(class="sub-heading") Method
              p(class="get") GET
              p(class="sub-heading") Route
              p http://localhost:1400/api/countries/:%name%
              p(class="sub-heading") Description
              p Returns a list of every country from all regions by name or fuzzy match
            aside(class="doc-aside1")
              p(class="sub-heading response-heading") Response
              p [
              p {
              p id: 31,
              p name: "Paraguay",
              p capital: "Asunción",
              p city: "Asunción",
              p area: "157,048",
              p population: "7.04M",
              p gdp: "38.15B",
              p topExport: "Soybeans",
              p currency: "Paraguayan guaraní",
              p leader: "Mario Abdo Benítez",
              p language: "Guaraní",
              p flag: "pa-flag.gif",
              p createdAt: "2021-06-22T19:37:06.000Z",
              p updatedAt: "2021-06-22T19:37:06.000Z",
              p regions: [
              p {
              p id: 4,
              p region: "South America",
              p createdAt: "2021-06-22T19:37:06.000Z",
              p updatedAt: "2021-06-22T19:37:06.000Z",
              p regionsCountries: {
              p regionId: 4,
              p countryId: 31,
              p createdAt: "2021-06-22T19:37:06.000Z",
              p updatedAt: "2021-06-22T19:37:06.000Z"
              p }
              p }
              p ]
              p },
              p {
              p id: 34,
              p name: "Uruguay",
              p capital: "Montevideo",
              p city: "Montevideo",
              p area: "68,037",
              p population: "3.46M",
              p gdp: "56.05B",
              p topExport: "Wood pulp",
              p currency: "Uruguayan peso",
              p leader: "Luis Lacalle Pou",
              p language: "Spanish",
              p flag: "uy-flag.gif",
              p createdAt: "2021-06-22T19:37:06.000Z",
              p updatedAt: "2021-06-22T19:37:06.000Z",
              p regions: [
              p {
              p id: 4,
              p region: "South America",
              p createdAt: "2021-06-22T19:37:06.000Z",
              p updatedAt: "2021-06-22T19:37:06.000Z",
              p regionsCountries: {
              p regionId: 4,
              p countryId: 34,
              p createdAt: "2021-06-22T19:37:06.000Z",
              p updatedAt: "2021-06-22T19:37:06.000Z"
              p }
              p }
              p ]
              p }
              p ]
          article(class="documentation1")
            section(class="doc-section1")
              p(class="sub-heading") Method
              p(class="get") GET
              p(class="sub-heading") Route
              p http://localhost:1400/api/region/1
              p(class="sub-heading") Description
              p Returns a list of every country from a specific region
            aside(class="doc-aside1")
              p(class="sub-heading response-heading") Response
              p [
              p {
              p id: 1,
              p name: "The United States of America",
              p capital: "Washington DC",
              p city: "New York City",
              p area: "3,677,649",
              p population: "328.2M",
              p gdp: "21.43T",
              p topExport: "Refined petroleum",
              p currency: "US dollar",
              p leader: "Joseph Biden",
              p language: "English",
              p flag: "us-flag.gif",
              p createdAt: "2021-06-22T23:39:17.000Z",
              p updatedAt: "2021-06-22T23:39:17.000Z",
              p regions: [
              p {
              p id: 1,
              p region: "North America",
              p createdAt: "2021-06-22T23:39:17.000Z",
              p updatedAt: "2021-06-22T23:39:17.000Z",
              p regionsCountries: {
              p regionId: 1,
              p countryId: 1,
              p createdAt: "2021-06-22T23:39:17.000Z",
              p updatedAt: "2021-06-22T23:39:17.000Z"
              p }
              p }
              p ]
              p },
              p {
              p id: 2,
              p name: "Canada",
              p capital: "Ottawa",
              p city: "Toronto",
              p area: "3,855,100",
              p population: "37.59M",
              p gdp: "1.74T",
              p topExport: "Crude petroleum",
              p currency: "Canadian dollar",
              p leader: "Justin Trudeau",
              p language: "English",
              p flag: "ca-flag.gif",
              p createdAt: "2021-06-22T23:39:17.000Z",
              p updatedAt: "2021-06-22T23:39:17.000Z",
              p regions: [
              p {
              p id: 1,
              p region: "North America",
              p createdAt: "2021-06-22T23:39:17.000Z",
              p updatedAt: "2021-06-22T23:39:17.000Z",
              p regionsCountries: {
              p regionId: 1,
              p countryId: 2,
              p createdAt: "2021-06-22T23:39:17.000Z",
              p updatedAt: "2021-06-22T23:39:17.000Z"
              p }
              p }
              p ]
              p },
          article(class="documentation1")
            section(class="doc-section1")
              p(class="sub-heading") Method
              p(class="get") GET
              p(class="sub-heading") Route
              p http://localhost:1400/api/region/1/:%name%
              p(class="sub-heading") Description
              p Returns a list of every country from a specific region by name or fuzzy match
            aside(class="doc-aside1")
              p(class="sub-heading response-heading") Response
              p [
              p {
              p id: 1,
              p name: "The United States of America",
              p capital: "Washington DC",
              p city: "New York City",
              p area: "3,677,649",
              p population: "328.2M",
              p gdp: "21.43T",
              p topExport: "Refined petroleum",
              p currency: "US dollar",
              p leader: "Joseph Biden",
              p language: "English",
              p flag: "us-flag.gif",
              p createdAt: "2021-06-22T23:39:17.000Z",
              p updatedAt: "2021-06-22T23:39:17.000Z",
              p regions: [
              p {
              p id: 1,
              p region: "North America",
              p createdAt: "2021-06-22T23:39:17.000Z",
              p updatedAt: "2021-06-22T23:39:17.000Z",
              p regionsCountries: {
              p regionId: 1,
              p countryId: 1,
              p createdAt: "2021-06-22T23:39:17.000Z",
              p updatedAt: "2021-06-22T23:39:17.000Z"
              p }
              p }
              p ]
              p },
              p {
              p id: 2,
              p name: "Canada",
              p capital: "Ottawa",
              p city: "Toronto",
              p area: "3,855,100",
              p population: "37.59M",
              p gdp: "1.74T",
              p topExport: "Crude petroleum",
              p currency: "Canadian dollar",
              p leader: "Justin Trudeau",
              p language: "English",
              p flag: "ca-flag.gif",
              p createdAt: "2021-06-22T23:39:17.000Z",
              p updatedAt: "2021-06-22T23:39:17.000Z",
              p regions: [
              p {
              p id: 1,
              p region: "North America",
              p createdAt: "2021-06-22T23:39:17.000Z",
              p updatedAt: "2021-06-22T23:39:17.000Z",
              p regionsCountries: {
              p regionId: 1,
              p countryId: 2,
              p createdAt: "2021-06-22T23:39:17.000Z",
              p updatedAt: "2021-06-22T23:39:17.000Z"
              p }
              p }
              p ]
              p },
          article(class="documentation1")
            section(class="doc-section1")
              p(class="sub-heading") Method
              p(class="post") POST
              p(class="sub-heading") Route
              p http://localhost:1400/api/countries
              p(class="sub-heading") Headers
              p Content-Type: application/json
              p(class="sub-heading") Body
              div(id="post-req")
                p {
                p "id": 98,
                p "name": "Test Name",
                p "capital": "Test Capital",
                p "city": "Test City",
                p "area": "Test Area",
                p "population": "Test Population",
                p "gdp": "Test GDP",
                p "topExport": "Test Top Export",
                p "currency": "Test Currency",
                p "leader": "Test Leader",
                p "language": "EnTest Language",
                p "flag": "Test Flag",
                p "regions": [{
                p "id": 1,
                p "region": "North America"
                p }]
                p }
              p(class="sub-heading") Description
              p Creates a new country from the data provided in the body
            aside(class="doc-aside1")
              p(class="sub-heading response-heading") Response
                p {
                p "id": 98,
                p "name": "Test Name",
                p "capital": "Test Capital",
                p "city": "Test City",
                p "area": "Test Area",
                p "population": "Test Population",
                p "gdp": "Test GDP",
                p "topExport": "Test Top Export",
                p "currency": "Test Currency",
                p "leader": "Test Leader",
                p "language": "EnTest Language",
                p "flag": "Test Flag",
                p "regions": [{
                p "id": 1,
                p "region": "North America"
                p }]
                p }
      footer

