<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel='stylesheet' href='/css/styles.css')
    title Document
  body
    div(id="body-container")
    header
      h1 Countries of the World
    div(id="map-container")
      img(id="map" src="./images/map.svg")
    div(id="info-container")
      section
        article
        aside
    footer

