* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto',
    sans-serif;
}

#body-container {
  min-width: 800px;
  margin: auto;
}

header {
  height: 4rem;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  text-align: center;
  font-weight: 300;
  color: white;
}

#map-container {
  margin: auto;
  width: 1000px;
}

#map {
  margin-top: -4rem;
  width: 1000px;
}

a {
  color: red;
  text-decoration: none;
  font-weight: 400;
}

a:hover {
  text-decoration: underline overline;
}

.continent-select {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#NA-select {
  width: 100px;
  height: 100px;
  position: relative;
  top: -490px;
  left: 150px;
}

#CA-select {
  width: 40px;
  height: 30px;
  position: relative;
  top: -455px;
  left: 180px;
}

#CR-select {
  width: 70px;
  height: 40px;
  position: relative;
  top: -507px;
  left: 265px;
}

#SA-select {
  width: 60px;
  height: 100px;
  position: relative;
  top: -510px;
  left: 300px;
}

#info-container {
  margin-top: -25rem;
  height: 20rem;
  background-color: black;
}